@page "/formulario"
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

<head>
    <link rel="stylesheet" href="css/DiandaStyle.css" />
</head>

<PageTitle>Formulario</PageTitle>

<RadzenCard Variant="Variant.Text" Class="rz-my-12 rz-mx-auto" Style="max-width: 650px">
    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start" Gap="1rem" Class="rz-p-4">
        <RadzenImage src="images/robot.png" Style="width: 100px; height: 100px;" />
        <RadzenStack Gap="0">
            <RadzenText TextStyle="TextStyle.H3" Style="color: #ffffff;">Hola! Bienvenido</RadzenText>
            <RadzenText TextStyle="TextStyle.H6" Style="color: #ffffff;"><b>Vamos a descubrir tu estilo de aprendizaje, tómate tu tiempo para contestar las siguientes preguntas</b></RadzenText>
        </RadzenStack>
    </RadzenStack>
</RadzenCard>

<RadzenRow Gap="1rem">
    <RadzenColumn Size="1">
        <RadzenIcon Icon="help_outline" IconColor="#ffb17a;" />
    </RadzenColumn>
    <RadzenColumn>
        <RadzenText TextStyle="TextStyle.Button" Style="color: #ffffff;">Responde a las preguntas con sinceridad y pensando en tus propias experiencias.</RadzenText>
    </RadzenColumn>
</RadzenRow>
<RadzenRow Gap="1rem">
    <RadzenColumn Size="1">
        <RadzenIcon Icon="help_outline" IconColor="#ffb17a;" />
    </RadzenColumn>
    <RadzenColumn>
        <RadzenText TextStyle="TextStyle.Button" Style="color: #ffffff;">No hay respuestas "correctas" o "incorrectas".</RadzenText>
    </RadzenColumn>
</RadzenRow>
<RadzenRow Gap="1rem" Style="margin-bottom: 35px;">
    <RadzenColumn Size="1">
        <RadzenIcon Icon="help_outline" IconColor="#ffb17a;" />
    </RadzenColumn>
    <RadzenColumn>
        <RadzenText TextStyle="TextStyle.Button" Style="color: #ffffff;">Las siguientes preguntas son afirmaciones, explica a detalle tus respuestas, 
            cuanto más detalladas sean tus respuestas, mejor podrá el modelo de aprendizaje automático determinar tu estilo de aprendizaje.</RadzenText>
    </RadzenColumn>
</RadzenRow>

<div class="fondodepantalla">
    <div class="contenedor">
        @foreach (var pregunta in preguntas)
        {
            <EditForm Model="@pregunta">
                <RadzenCard Style="margin-bottom: 20px;">
                    <RadzenText TextStyle="TextStyle.DisplayH5" Style="text-align: left;">@pregunta.Texto</RadzenText>
                    <RadzenRow Gap="1rem">
                        <RadzenColumn Size="1" class="centered-column">
                            <RadzenIcon Icon="bookmark" IconColor="#ffb17a;" />
                        </RadzenColumn>
                        <RadzenColumn>
                            <RadzenTextArea @bind-Value="@pregunta.Respuesta" name="@pregunta.Nombre" Placeholder="Respuesta" class="w-100" />
                        </RadzenColumn>
                    </RadzenRow>
                </RadzenCard>
            </EditForm>
        }
        <NavLink class="nav-link" href="/resultado/{resultado}">
            <RadzenButton Click="@((args) => OnClick("Evaluaremos tus respuestas"))" Text="Enviar" Icon="check_circle"
                          Style="background-color: #ffb17a; color: #000000;" TextStyle="color: #ffffff;" />
        </NavLink>
    </div>
</div>



@code {

    private async void OnClick(string text)
    {
        //NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Warning, Summary = "Listo!", Detail = text });

        await enviarRespuestas();

    }

    public class Pregunta
    {
        public string? Nombre { get; set; }
        public string? Texto { get; set; }
        public string? Respuesta { get; set; }

    }

    public List<Pregunta> preguntas = new List<Pregunta>()
    {
        new Pregunta() { Nombre = "pregunta-uno", Texto = "1. Recuerdo mejor algo si lo escribo" },
        new Pregunta() { Nombre = "pregunta-dos", Texto = "2. Visualizo imágenes en mi cabeza constantemente " },
        new Pregunta() { Nombre = "pregunta-tres", Texto = "3. Tomo muchas notas de lo que leo y escucho" },
        new Pregunta() { Nombre = "pregunta-cuatro", Texto = "4. Me ayuda mirar a una persona cuando está hablando, me mantiene en enfoque" },
        new Pregunta() { Nombre = "pregunta-cinco", Texto = "5. Cuando leo, lo hago en voz alta" },
        new Pregunta() { Nombre = "pregunta-seis", Texto = "6. Necesito hablar las cosas para entenderlas mejor" },
        new Pregunta() { Nombre = "pregunta-siete", Texto = "7. Prefiero que me digan cómo tengo que hacer las cosas que leer las instrucciones" },
        new Pregunta() { Nombre = "pregunta-ocho", Texto = "8. Cuando no se me ocurre una palabra específica, uso mis manos y llamo al objeto “esa cosa”" },
        new Pregunta() { Nombre = "pregunta-nueve", Texto = "9. Me desagrada leer o escuchar instrucciones, prefiero comenzar a hacer las cosas" },
        new Pregunta() { Nombre = "pregunta-diez", Texto = "10. Estudio mejor si escucho música" },
        
    };

    private string resultado = "";

    private async Task enviarRespuestas()
    {
        // Crear un diccionario para almacenar las respuestas
        Dictionary<string, string> respuestas = new Dictionary<string, string>();

        // Llenar el diccionario con los datos del formulario
        foreach (var pregunta in preguntas)
        {
            respuestas.Add(pregunta.Nombre, pregunta.Respuesta);
        }

        // Enviar las respuestas al servidor Flask en Python
        var response = await HttpClient.PostAsJsonAsync("http://127.0.0.1:5002/", respuestas);

        if (response.IsSuccessStatusCode)
        {
            resultado = await response.Content.ReadAsStringAsync();
            NavigationManager.NavigateTo($"/resultado/{resultado}");
        }
        else
        {
            // Manejar el error de la solicitud
        }
    }

}

